<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="connStr" connectionString="server=.;database=PharmacySorterDB;integrated security=true"/>
	</connectionStrings>
	<appSettings>
		<add key="ArmPortName" value="COM1"/>
		<add key="ArmBaudRate" value="115200"/>
		<add key="ArmParity" value="None"/>
		<add key="ArmDataBits" value="8"/>
		<add key="ArmStopBits" value="One"/>
		<add key="OperatorName" value="操作员"/>
		<add key="SkipArmWait" value="false"/>
	</appSettings>
</configuration>